<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
    <link rel="stylesheet" href="./style.css">
    <title>行事曆</title>
    <style>
        
    </style>
</head>

<body>
    <div id="myCalendar">
        <div class="title">
            <h1>
                <i class="uil uil-angle-left-b" @click="changeMonth(-1)"></i>
                &nbsp;&nbsp;{{ calendar.year }}年{{ calendar.month + 1 }}月&nbsp;&nbsp;
                <i class="uil uil-angle-right-b" @click="changeMonth(1)"></i>
            </h1>
            <button @click="setToday()">回到今年<i class="uil uil-redo"></i></button>
            <div class="changeYear" @click="changeYear(-1)" style="float: left;"><i class="uil uil-angle-double-left"></i>上一年</div>
            <div class="changeYear" @click="changeYear(1)" style="float: right;">下一年<i class="uil uil-angle-double-right"></i></div>
        </div>
        <div class="calendar">
            <div class="weekday">
                <div>日</div>
                <div>一</div>
                <div>二</div>
                <div>三</div>
                <div>四</div>
                <div>五</div>
                <div>六</div>
            </div>
            <div class="week" v-for="week in 6">
                <!-- 行列轉換個數 -->
                <!-- :data-date 取得每一格的日期(陣列裡的第N筆資料)，因為 v-for 裡若是帶數字是從1開始算，所以要先-1 -->
                <!-- 7是一排的個數(7天) -->
                <div class="day" v-for="day in 7" :data-date="calendarMonth[(week-1)*7 + (day-1)].date" :class="{
                        today:calendarMonth[(week-1)*7 + (day-1)].year === today.year && calendarMonth[(week-1)*7 + (day-1)].month === today.month && calendarMonth[(week-1)*7 + (day-1)].date === today.date,
                        other:calendarMonth[(week-1)*7 + (day-1)].month !== calendar.month,
                        weekend:calendarMonth[(week-1)*7 + (day-1)].day == 6 || calendarMonth[(week-1)*7 + (day-1)].day == 0
                            }" @dblclick="addTodo(calendarMonth[(week-1)*7 + (day-1)])">
                    <div v-if="calendarMonth[(week-1)*7 + (day-1)].count">
                        {{ calendarMonth[(week-1)*7 + (day-1)].count }}</div>
                </div>

            </div>
        </div>
        <div class="todosStyle">
            <h2>{{ calendar.year }}年{{ calendar.month + 1 }}月待辦事項</h2>
            <div class="todos">
                <span v-if="currentMonth == ''" style="color: #A7B1CB;">暫無待辦事項(雙擊任意日期新增)</span>
                <div v-for="item in currentMonth">
                    <h3>{{ item.month + 1 }}/{{ item.date }}</h3>
                    <ul v-for="(todo,index) in item.todo">
                        <li>
                            <input type="checkbox" v-model="todo.done" :id="index">
                            <label :for="index" :class="{ done:todo.done }">{{ todo.content }}</label>
                            <i class="uil uil-edit-alt" @click="editTodo(todo)"></i><i class="uil uil-trash-alt"
                                @click="deleteTodo(item,index)"></i>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script>
        new Vue({
            el: "#myCalendar",
            data: {
                today: {
                    year: 0,
                    month: 0,
                    date: 0,
                    day: 0
                },
                calendar: {
                    year: 0,
                    month: 0,
                    date: 0,
                    day: 0
                },
                todos: {}
            },
            mounted() {
                this.setToday()
                let ls = JSON.parse(window.localStorage.getItem('myTodos')) || {};
                this.$set(this, 'todos', ls);
            },
            methods: {
                deleteTodo(item, index) {
                    if (window.confirm('確認刪除')) {
                        item.todo.splice(index, 1);
                        window.localStorage.setItem("myTodos", JSON.stringify(this.todos))
                    }
                },
                editTodo(todo) {
                    let content = window.prompt('請輸入修改內容', todo.content)
                    if (content.trim()) {
                        todo.content = content.trim();
                        window.localStorage.setItem("myTodos", JSON.stringify(this.todos))
                    }
                },
                addTodo({ year, month, date }) {
                    let content = window.prompt("請輸入待辦事項", "")
                    if (content && content.trim()) {
                        let y = this.todos[year] || {};
                        let m = y[month] || {};
                        let d = m[date] || [];
                        d.push({
                            content: content.trim(),
                            done: false
                        });
                        this.$set(this.todos, year, y);
                        this.$set(this.todos[year], month, m);
                        this.$set(this.todos[year][month], date, d);
                        window.localStorage.setItem("myTodos", JSON.stringify(this.todos))
                    }

                },
                getTodos({ year, month, date }) {
                    return year in this.todos &&
                        month in this.todos[year] &&
                        date in this.todos[year][month] ? this.todos[year][month][date] : [];

                },
                setToday() {
                    let date = new Date()
                    this.today.year = this.calendar.year = date.getFullYear()
                    this.today.month = this.calendar.month = date.getMonth()
                    this.today.date = this.calendar.date = date.getDate()
                    this.today.day = this.calendar.day = date.getDay()
                },
                changeYear(val) {
                    this.calendar.year += val
                },
                changeMonth(val) {
                    let month = this.calendar.month + val
                    if (month > 11) {
                        this.changeYear(1)
                        this.calendar.month = 0
                    } else if (month < 1) {
                        this.changeYear(-1)
                        this.calendar.month = 11
                    } else {
                        this.calendar.month = month
                    }
                }
            },
            computed: {

                calendarFirstDay() {
                    let mdate = new Date(this.calendar.year, this.calendar.month, 1)
                    // 2020 9月1號是星期一，1-1=0，為星期天，即8/30 (如為星期三則為3-3，目的為取得日曆上第一天日期(星期天))
                    let cDate = new Date(this.calendar.year, this.calendar.month, 1 - mdate.getDay())
                    return {
                        year: cDate.getFullYear(),
                        month: cDate.getMonth(),
                        date: cDate.getDate(),
                        day: cDate.getDay()
                    };
                },
                // 7*6 = 42格
                calendarMonth() {
                    let monthData = []
                    let date
                    for (let i = 0; i < 42; i++) {
                        date = new Date(this.calendarFirstDay.year, this.calendarFirstDay.month, this.calendarFirstDay.date + i)
                        let d = {
                            year: date.getFullYear(),
                            month: date.getMonth(),
                            date: date.getDate(),
                            day: date.getDay()
                        };
                        // 待辦事項數量
                        d.count = this.getTodos(d).length
                        d.todo = this.getTodos(d)
                        monthData.push(d)
                    };
                    return monthData
                },
                currentMonth() {
                    return this.calendarMonth.filter(date => {
                        return date.month === this.calendar.month && date.count;
                    })
                },
            }

        });
    </script>
</body>

</html>