@font-face {
    font-family: 粉圓體;
    src: url(./jf-openhuninn-1.1.ttf)
}
* {
    font-family: '粉圓體';
    user-select: none;
}
html{
    text-align: center;
    background-color: #4D5561;
}
span{
    font-size: 20px;
}
/* 進場延遲 */
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:#BDD8F5;
    background-image: url("./image/Magnify-1.2s-217px.gif");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}